# Data Types and Structures

1. What are data structures, and why are they important?
  - Data structures are fundamental to computer science, defining how data is organized, stored, and processed in a computer system. They provide a way to efficiently access, manage, and manipulate data, which is crucial for building efficient and effective software applications. Data structures are essential for performance, readability, and scalability of code, as well as how well it solves the problem at hand.
2. Explain the difference between mutable and immutable data types with examples.
  - In programming, mutable data types allow their values to be modified after creation, while immutable data types cannot be changed once created.
3. What are the main differences between lists and tuples in Python?
  - Lists and tuples are both fundamental sequence data types in Python, used to store collections of items. However, they differ significantly in mutability and usage.
4. Describe how dictionaries store data.
  - Dictionaries are unordered collections of data and are represented with curly brackets { } . Like lists, dictionaries are mutable(changeable) and indexed. With dictionaries, data is stored in a key:value format.
5. Why might you use a set instead of a list in Python?
  - Sets and lists serve different purposes in Python, leading to scenarios where one is more suitable than the other. Sets are particularly useful when:
  Uniqueness is required, membership testing is frequent, set operations are needed. On the other hand lists are more appropriate when order matters, duplicates are allowed, element modification by index is needed.
6. What is a string in Python, and how is it different from a list?
  - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets []. 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.
7. How do tuples ensure data integrity in Python?
  - Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic is crucial for maintaining the consistency and reliability of data, especially in scenarios where data should not be altered during program execution.
8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs, where each key is unique and the values can be of any data type. It uses a hash function to compute the index for each key, determining its position in an underlying array. This mechanism enables efficient data retrieval, insertion, and deletion operations, typically achieving average time complexity of O(1).In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python computes the hash value of the key and uses it to determine the storage location.
9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain elements of different data types. This is a key feature of Python lists, making them highly flexible and versatile. A single list can hold integers, strings, floats, booleans, and even other lists or more complex objects like dictionaries. For example, the list my_list = [1, "hello", 3.14, True] is perfectly valid in Python. This flexibility allows for the creation of data structures that can represent a wide range of information.
10. Explain why strings are immutable in Python.
  - Strings immutability ensures one reference does not change the value for others pointing to the same string. Security: Strings are used for sensitive data like usernames and passwords. Immutability prevents attackers from altering the values.
11. What advantages do dictionaries offer over lists for certain tasks?
  - It is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.
12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.
13. How do sets handle duplicate values in Python?
  - Sets in Python are designed to store only unique elements. When a user attempts to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that each element within the set is unique. This behavior is fundamental to the nature of sets as unordered collections of distinct items. If a set is initialized with duplicate values, or if duplicate values are added later, only one instance of each unique value will be retained in the set.
14. How does the “in” keyword work differently for lists and dictionaries?
  - The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.
15. Can you modify the elements of a tuple? Explain why or why not?
  - No, you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined. Trying to modify a tuple will result in a TypeError.
16.  What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels. A common use case for nested dictionaries is representing complex, multi-layered data, such as employee information with nested address and contact details.
17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size. However, in the worst-case scenario, it can degrade to O(n), where n is the number of key-value pairs, if there are many hash collisions.
18. In what situations are lists preferred over dictionaries.
  - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python, dictionaries did not preserve insertion order at all.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In terms of data retrieval, a dictionary offers significantly faster lookup of values based on unique keys compared to a list, which relies on numerical indices. Dictionaries, using a hash table, can find values associated with a key in an average of O(1) (constant) time, while lists, requiring sequential searching, have an average time complexity of O(n) (linear).

In [1]:
# Write a code to create a string with your name and print it.

name = input("enter your name:")
print("name:")

enter your name:Vaishali Sharma
name:

In [2]:
# Write a code to find the length of the string "Hello World".

a = "hello"
print(len(a))

5

In [3]:
# Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
sliced_text = text[0:3]
print(sliced_text)

Pyt

In [4]:
# Write a code to convert the string "hello" to uppercase.

a = "hello world"
print(a.upper())

HELLO WORLD

In [7]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".

str = "i like apple"
print(str.replace("apple","orange"))

i like orange

In [9]:
# Write a code to create a list with numbers 1 to 5 and print it.

nums = range(1, 5)
print(list(nums))

[1, 2, 3, 4]

In [10]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers=[1,2,3,4]
print(numbers)
numbers.append(10)
print(numbers)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [11]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [12]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [13]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10,20,30,40]
print(lst[::-1])

[40, 30, 20, 10]

In [14]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [15]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [16]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print(min_number)

5

In [19]:
#  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ['cat', 'dog', 'rabbit']
index = animals.index('cat')
print(index)

0

In [20]:
#  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

thistuple = ("apple", "banana", "kiwi")
if "kiwi" in thistuple:
  print("yes, 'kiwi' is in the fruits tuple")

yes, 'kiwi' is in the fruits tuple

In [21]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [22]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [23]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.discard(4)
print(my_set)

{1, 2, 3}

In [24]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.copy()
for element in set2:
    if element not in union_set:
        union_set.add(element)

print(union_set)

{1, 2, 3, 4, 5}

In [26]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

base_set = {1, 2, 3}
base_set1 = {2, 3, 4}
res = base_set.intersection(base_set, base_set1)
print(res)

{2, 3}

In [30]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Alice", "age": 30, "city": "New York"}
for key in my_dict:
    print(key)

name
age
city

In [33]:
#  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict_list = [
    {"name": "John", "age": 25},
    {"city": "New York", "country": "USA"},
    {"language": "Python", "level": "Intermediate"}
]
updated_dict = {key: value for dictionary in dict_list for key, value in dictionary.items()}
print("Updated Dictionary:", updated_dict)

Updated Dictionary: {'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA', 'language': 'Python', 'level': 'Intermediate'}

In [34]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [36]:
#  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {"name": "Bob", "age": 22, "city": "New York"}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

student = {"Name": 'Alice', "City": 'Paris'}

if "City" in student:
    print("Key exists.")
else:
    print("Key does not exist.")

Key exists.

In [38]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.

a = [("a", 1), ("b", 2), ("c", 3)]

res = dict(a)

print(res)

{'a': 1, 'b': 2, 'c': 3}

In [40]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
sorted_numbers = sorted(random_numbers)
print(sorted_numbers)

[9, 33, 35, 40, 94]

In [43]:
#  Write a code to create a list with strings and print the element at the third index.

l = eval(input("Enter the list: "))
print("Original List")
print(l)

l = l[-1:] + l[:-1]

print("Rotated List")
print(l)

Enter the list: 8,10,13
Original List
(8, 10, 13)
Rotated List
(13, 8, 10)

In [44]:
# Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
merged_dict = dict1.copy()
merged_dict.update(dict2)
print("Using update():", merged_dict)

Using update(): {'a': 1, 'b': 3, 'c': 4}

In [45]:
#  Write a code to convert a list of strings into a set.

def convert_list_to_set(string_list):
    string_set = set(string_list)
    return string_set

string_list = ["apple", "banana", "cherry", "apple"]
string_set = convert_list_to_set(string_list)
print(string_set)

{'cherry', 'apple', 'banana'}